/node_modules/**
/image_to_png/*.png
/image_to_png/*.jpg
.png
font/font_free/GMCPopcornStrawberry.ttf
font/font_free/GMCWendyGin.ttf
font/font_free/GMCWendyGinBold.ttf
font/font_free/GMCWendyGinThin.ttf